<div class="error-container">
{{#each errors}}
    <p>{{this}}</p>
{{/each}}
</div>

<main>
  <section class="form-container">
    <h2>Create Recipe</h2>
    <form method="POST">
      <label for="title">Recipe Title:</label>
      <input type="text" id="title" name="title" {{#if data}}value="{{data.title}}"{{/if}}/>

      <label for="description">Description:</label>
      <textarea id="description" name="description">{{#if data}}{{data.description}}{{/if}}</textarea>

      <label for="ingredients">Ingredients:</label>
      <textarea id="ingredients" name="ingredients">{{#if data}}{{data.ingredients}}{{/if}}</textarea>

      <label for="instructions">Instructions:</label>
      <textarea id="instructions" name="instructions">{{#if data}}{{data.instructions}}{{/if}}</textarea>

      <label for="image">Image URL:</label>
      <input type="url" id="image" name="image" {{#if data}}value="{{data.image}}"{{/if}}/>

      <button type="submit">Create Recipe</button>
    </form>
  </section>
</main>
