<main>
  <article class="recipe-detail">
    <img src="{{recipe.image}}" alt="{{recipe.title}}" />
    <h2>{{recipe.title}}</h2>
    <p>{{recipe.description}}</p>

    <h3>-----------------------------------------------------</h3>

    <h3>Ingredients:</h3>
    <p>{{recipe.ingredients}}</p>

    <h3>-----------------------------------------------------</h3>

    <h3>Instructions:</h3>
    <p>{{recipe.instructions}}</p>

    <h3>-----------------------------------------------------</h3>

    <h3>People Who Recommend: {{recipe.recomendedNumber}}</h3>
  </article>

  {{#if hasUser}}
  <div class="command">
    {{#if recipe.isOwner}}
    <a href="/edit/{{recipe._id}}">Edit</a>
    <a href="/delete/{{recipe._id}}">Delete</a>
    {{else}}
    {{#unless recipe.recommended}}<a href="/recommend/{{recipe._id}}">Recommend</a>{{/unless}}
    {{#if recipe.recommended}}<p>You've already recommended this recipe!</p>{{/if}}
    {{/if}}
  </div>
  {{/if}}
</main>
