<main class="dashboard">
  <section id="dashboard">
    <h2>Minerals and Gems</h2>
    <ul class="card-wrapper">
      <!-- Display a li with information about every post (if any)-->
      {{#each stones}}
      <li class="card">
        <img src="{{imageUrl}}" />
        <p><strong>Name: </strong><span class="name">{{name}}</span></p>
        <p><strong>Category: </strong><span class="category">{{category}}</span></p>
        <p><strong>Formula:</strong><span class="formula">{{formula}}</span></p>
        <a class="details-btn" href="/details/{{_id}}">Details</a>
      </li>
    </ul>
    {{else}}
    <!-- Display an h2 if there are no posts -->
    <div id="no-post">
        <h2>There are no gems and minerals! </h2>
    </div>
    {{/each}}
  </section>
</main>
