<main class="details">
  <!-- Details page -->
  {{#with stone}}
  <section id="details">
    <div id="details-wrapper">
      <p id="details-title">Name: {{name}}</p>
      <div id="img-wrapper">
        <img src="{{imageUrl}}" />
      </div>
      <div id="info-wrapper">
        <table>
          <tr>
            <td>
              <p>Category: <span id="details-category">{{category}}</span></p>
            </td>
            <td>
              <p>Color: <span id="details-color">{{color}}</span></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Location: <span id="details-location">{{location}}</span></p>
            </td>
            <td>
              <p>Formula: <span id="details-formula">{{formula}}</span></p>
            </td>
          </tr>
        </table>
        <p>
          Description:
          <span id="details-description">{{description}}</span>
        </p>
      </div>
  {{/with}}

      <!--Edit and Delete are only for creator-->
      {{#if hasUser}}
      <div id="action-buttons">
        {{#if stone.isOwner}}
        <a href="/edit/{{stone._id}}" id="edit-btn">Edit</a>
        <a href="/delete/{{stone._id}}" id="delete-btn">Delete</a>
        {{else}}
        {{#unless stone.liked}}<a href="/like/{{stone._id}}" id="like-btn">Like</a>{{/unless}}
        {{#if stone.liked}}<p id="already-liked">You already liked this stone!</p>{{/if}}
        {{/if}}
      </div>
      {{/if}}
    </div>
  </section>
</main>
